@import "../../utils/varialbles/fonts";
@import "../../utils/varialbles/width";
@import "../../utils/varialbles/colors";
@import "../../utils/mixins/button";
@import "../../utils/mixins/flex";
@import "../../utils/varialbles/border";

.aboutHeading {
  text-align: center;
  margin: 80px 0px 120px;
  color: $white;
}

.info {
  width: $width-xl;
  margin: 0px auto;
  color: $white;
  @include flex($content: space-between);

  .info_section {
    position: relative;
    width: 650px;
    height: 400px;
    // border: 1px solid red;
    h2 {
      text-transform: uppercase;
      font-size: 30px;
    }
    div {
      @include flex($content: flex-start);
      margin-top: 10px;
      ul {
        margin-right: 80px;
        li {
          font-size: 20px;
          list-style: none;
          margin: 22px 0px;
          word-spacing: 2px;

          span {
            font-weight: 600;
          }
        }
      }
    }

    .naxt_btn {
      @include button($bottom: 0px, $pad: 10px 11px);
      left: 0px;
    }
  }

  .experiance {
    width: 700px;
    height: 420px;
    @include flex($content: flex-start, $wrap: wrap);
    position: relative;
    .box {
      width: 300px;
      height: 190px;
      border: 1px solid rgba(255, 255, 255, 0.233);
      margin: 15px;
      border-radius: $round;
      position: relative;
      padding: 5px 30px;
      h3 {
        font-size: 68px;
        position: relative;
        color: $blue;
        span {
          font-size: 50px;
          position: absolute;
          top: 5px;
          left: 70px;
        }
      }

      p {
        font-size: 24px;
        display: inline;
        position: relative;
        margin-left: 60px;
        span {
          margin-left: 60px;
        }
      }
      p::after {
        content: "";
        width: 50px;
        height: 3px;
        background-color: white;
        position: absolute;
        left: -60px;
        top: 15px;
      }
    }
    #box1 {
      h3 {
        span {
          left: 45px;
        }
      }
    }
    .naxt_btn {
      @include button($bottom: 85px, $right: 100px, $pad: 10px 11px);
    }
  }
}

.skills {
  text-align: center;
  font-size: $heading-lg;
  color: $white;
  margin: 200px 0px 80px;
  font-family: "Fredoka One", cursive;
  span {
    color: $blue;
    font-family: "Fredoka One", cursive;
  }
}
.language {
  width: $width-xl;
  margin: 0px auto 100px;
  @include flex($wrap: wrap);
  div {
    text-align: center;
    margin: 70px;
    img {
      width: 120px;
    }
    p {
      color: $white;
      margin-top: 10px;
      font-family: "Fredoka One", cursive;
    }
  }
}

@media screen and (max-width: 1450px) {
  .aboutHeading {
    text-align: center;
    margin: 80px 0px 120px;
    color: $white;
  }

  .info {
    width: $width-lg;
    margin: 0px auto;
    color: $white;
    @include flex($content: space-between);

    .info_section {
      position: relative;
      width: 500px;
      height: 400px;
      // border: 1px solid red;
      h2 {
        text-transform: uppercase;
        font-size: 28px;
      }
      div {
        @include flex($content: flex-start);
        margin-top: 10px;
        // border: 1px solid red;
        ul {
          margin-right: 0px;
          li {
            font-size: 16px;
            list-style: none;
            margin: 22px 0px;
            word-spacing: 2px;

            span {
              font-weight: 600;
            }
          }
        }
        .info1 {
          margin-right: 40px;
        }
      }

      .naxt_btn {
        @include button($bottom: 40px, $pad: 10px 11px);
        left: 0px;
      }
    }

    .experiance {
      width: 550px;
      height: 420px;
      @include flex($content: flex-start, $wrap: wrap);
      position: relative;
      // border: 1px solid red;
      .box {
        width: 250px;
        height: 190px;
        border: 1px solid rgba(255, 255, 255, 0.233);
        margin: 10px;
        border-radius: $round;
        position: relative;
        padding: 5px 30px;
        h3 {
          font-size: 68px;
          position: relative;
          color: $blue;
          span {
            font-size: 50px;
            position: absolute;
            top: 5px;
            left: 70px;
          }
        }

        p {
          font-size: 22px;
          display: inline;
          position: relative;
          margin-left: 60px;
          span {
            margin-left: 60px;
          }
        }
        p::after {
          content: "";
          width: 50px;
          height: 3px;
          background-color: white;
          position: absolute;
          left: -60px;
          top: 15px;
        }
      }
      #box1 {
        h3 {
          span {
            left: 45px;
          }
        }
      }
      .naxt_btn {
        @include button($bottom: 85px, $right: 40px, $pad: 10px 11px);
      }
    }
  }

  .skills {
    text-align: center;
    font-size: $heading-lg;
    color: $white;
    margin: 200px 0px 80px;
    font-family: "Fredoka One", cursive;
    span {
      color: $blue;
      font-family: "Fredoka One", cursive;
    }
  }
  .language {
    width: $width-lg;
    margin: 0px auto 100px;
    @include flex($wrap: wrap);
    div {
      text-align: center;
      margin: 55px;
      img {
        width: 100px;
      }
      p {
        color: $white;
        margin-top: 10px;
        font-family: "Fredoka One", cursive;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .aboutHeading {
    text-align: center;
    margin: 80px 0px 120px;
    color: $white;
  }

  .info {
    width: $width-md;
    margin: 0px auto;
    color: $white;
    @include flex($content: space-between, $direc: column);

    .info_section {
      position: relative;
      width: 500px;
      height: 400px;
      margin-bottom: 50px;
      // border: 1px solid red;
      h2 {
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
      }
      div {
        @include flex($content: flex-start);
        margin-top: 10px;
        // border: 1px solid red;
        ul {
          margin: 0px auto;
          li {
            font-size: 18px;
            list-style: none;
            margin: 22px 0px;
            word-spacing: 2px;

            span {
              font-weight: 600;
            }
          }
        }
        .info1 {
          margin-right: 30px;
        }
      }

      .naxt_btn {
        @include button($bottom: 40px, $pad: 10px 11px, $font: 1.2rem);
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }

    .experiance {
      width: 550px;
      height: 420px;
      @include flex($content: flex-start, $wrap: wrap);
      position: relative;
      // border: 1px solid red;
      .box {
        width: 250px;
        height: 190px;
        border: 1px solid rgba(255, 255, 255, 0.233);
        margin: 10px;
        border-radius: $round;
        position: relative;
        padding: 5px 30px;
        h3 {
          font-size: 68px;
          position: relative;
          color: $blue;
          span {
            font-size: 50px;
            position: absolute;
            top: 5px;
            left: 70px;
          }
        }

        p {
          font-size: 22px;
          display: inline;
          position: relative;
          margin-left: 60px;
          span {
            margin-left: 60px;
          }
        }
        p::after {
          content: "";
          width: 50px;
          height: 3px;
          background-color: white;
          position: absolute;
          left: -60px;
          top: 15px;
        }
      }
      #box1 {
        h3 {
          span {
            left: 45px;
          }
        }
      }
      .naxt_btn {
        @include button($bottom: 85px, $right: 40px, $pad: 10px 11px);
      }
    }
  }

  .skills {
    text-align: center;
    font-size: $heading-md;
    color: $white;
    margin: 200px 0px 80px;
    font-family: "Fredoka One", cursive;
    span {
      color: $blue;
      font-family: "Fredoka One", cursive;
    }
  }
  .language {
    width: $width-md;
    margin: 0px auto 100px;
    @include flex($wrap: wrap);
    div {
      text-align: center;
      margin: 45px;
      img {
        width: 90px;
      }
      p {
        color: $white;
        margin-top: 10px;
        font-family: "Fredoka One", cursive;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .aboutHeading {
    text-align: center;
    margin: 80px 0px 120px;
    color: $white;
  }

  .info {
    width: $width-sm;
    margin: 0px auto;
    color: $white;
    @include flex($content: space-between, $direc: column);

    .info_section {
      position: relative;
      width: 500px;
      height: 400px;
      margin-bottom: 50px;
      // border: 1px solid red;
      h2 {
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
      }
      div {
        @include flex($content: flex-start);
        margin-top: 10px;
        // border: 1px solid red;
        ul {
          margin: 0px auto;
          li {
            font-size: 18px;
            list-style: none;
            margin: 22px 0px;
            word-spacing: 2px;

            span {
              font-weight: 600;
            }
          }
        }
        .info1 {
          margin-right: 30px;
        }
      }

      .naxt_btn {
        @include button($bottom: 40px, $pad: 10px 11px, $font: 1.2rem);
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }

    .experiance {
      width: 500px;
      height: 360px;
      @include flex($content: flex-start, $wrap: wrap);
      position: relative;
      // border: 1px solid red;
      .box {
        width: 220px;
        height: 160px;
        border: 1px solid rgba(255, 255, 255, 0.233);
        margin: 8px;
        border-radius: $round;
        position: relative;
        padding: 5px 20px;
        h3 {
          font-size: 58px;
          position: relative;
          color: $blue;
          span {
            font-size: 40px;
            position: absolute;
            top: 5px;
            left: 60px;
          }
        }

        p {
          font-size: 20px;
          display: inline;
          position: relative;
          margin-left: 60px;
          span {
            margin-left: 60px;
          }
        }
        p::after {
          content: "";
          width: 50px;
          height: 3px;
          background-color: white;
          position: absolute;
          left: -60px;
          top: 15px;
        }
      }
      #box1 {
        h3 {
          span {
            left: 40px;
          }
        }
      }
      .naxt_btn {
        @include button(
          $bottom: 80px,
          $right: 50px,
          $pad: 9px 10px,
          $font: 1.2rem
        );
      }
    }
  }

  .skills {
    text-align: center;
    font-size: $heading-sm;
    color: $white;
    margin: 200px 0px 80px;
    font-family: "Fredoka One", cursive;
    span {
      color: $blue;
      font-family: "Fredoka One", cursive;
    }
  }
  .language {
    width: $width-sm;
    margin: 0px auto 100px;
    @include flex($wrap: wrap);
    div {
      text-align: center;
      margin: 45px;
      img {
        width: 75px;
      }
      p {
        color: $white;
        margin-top: 10px;
        font-family: "Fredoka One", cursive;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .aboutHeading {
    text-align: center;
    margin: 80px 0px 80px;
    color: $white;
    // border: 1px solid red;
  }

  .info {
    width: 100%;
    margin: 0px auto;
    color: $white;
    @include flex($content: space-between, $direc: column);
    // border: 1px solid red;

    .info_section {
      position: relative;
      width: 100%;
      height: 100%;
      margin-bottom: 50px;

      // border: 1px solid red;
      h2 {
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
      }
      div {
        height: 100%;
        // border: 1px solid red;
        width: 220px;
        @include flex($direc: column, $content: center, $items: flex-start);
        margin: 10px auto 0;
        ul {
          margin: 0px 0;
          // border: 1px solid red;
          text-align: center;
          li {
            font-size: 16px;
            list-style: none;
            margin: 20px 0px;
            word-spacing: 2px;

            span {
              font-weight: 800;
            }
          }
        }
        .info1 {
          margin: 0 auto;
        }
      }

      .naxt_btn {
        @include button($bottom: -80px, $pad: 9px 10px, $font: 1.1rem);
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }

    .experiance {
      width: 100%;
      height: 100%;
      @include flex($content: flex-start, $wrap: nowrap, $direc: column);
      position: relative;
      margin-top: 100px;
      // border: 1px solid red;
      .box {
        width: 220px;
        height: 160px;
        border: 1px solid rgba(255, 255, 255, 0.233);
        margin: 15px auto;
        border-radius: $round;
        position: relative;
        padding: 5px 20px;
        h3 {
          font-size: 58px;
          position: relative;
          color: $blue;
          span {
            font-size: 40px;
            position: absolute;
            top: 5px;
            left: 60px;
          }
        }

        p {
          font-size: 20px;
          display: inline;
          position: relative;
          margin-left: 60px;
          span {
            margin-left: 60px;
          }
        }
        p::after {
          content: "";
          width: 50px;
          height: 3px;
          background-color: white;
          position: absolute;
          left: -60px;
          top: 15px;
        }
      }
      #box1 {
        h3 {
          span {
            left: 40px;
          }
        }
      }
      .naxt_btn {
        transform: translate(50%, 0%);
        @include button(
          $bottom: -80px,
          $right: 50%,
          $pad: 9px 10px,
          $font: 1.2rem
        );
      }
    }
  }

  .skills {
    text-align: center;
    font-size: $heading-sm;
    color: $white;
    margin: 180px 0px 60px;
    font-family: "Fredoka One", cursive;
    span {
      color: $blue;
      font-family: "Fredoka One", cursive;
    }
  }
  .language {
    width: 100%;
    margin: 0px auto 80px;
    @include flex($wrap: wrap);
    div {
      text-align: center;
      margin: 30px;
      img {
        width: 65px;
      }
      p {
        color: $white;
        margin-top: 10px;
        font-family: "Fredoka One", cursive;
      }
    }
  }
}
