.work_heading {
  margin: 100px 0 60px;
  text-align: center;
  color: white;
}

.project_cetagory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project_cetagory button {
  margin: 0px 15px;
  padding: 6px 25px;
  border-radius: 50px;
  background-color: #4e4aff;
  color: white;
  font-family: "Fredoka One", cursive;
  cursor: pointer;
}

.project_section {
  width: 1450px;
  margin: 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project_section div {
  background-color: #313131;
  width: 380px;
  height: 250px;
  margin: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.project_section div img {
  width: 380px;
  height: 250px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project_portal {
  background-color: rgba(0, 0, 0, 0.575);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.detaile {
  width: 700px;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  background-color: #2c2c2c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.detaile h2 {
  margin-bottom: 40px;
}

.detaile .fa-times-circle {
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.detaile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  text-align: start;
  margin-bottom: 20px;
}

.detaile ul li {
  list-style: none;
  margin: 10px 20px;
  letter-spacing: 1px;
}

.detaile ul li span {
  margin: 0px 5px 0px 10px;
  font-weight: bold;
}

.detaile ul li i {
  font-size: 1.4rem;
  font-weight: lighter;
}

.detaile div {
  width: 95%;
}

.detaile div img {
  width: 100%;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1450px) {
  .project_section {
    width: 1050px;
    margin: 70px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project_section div {
    width: 300px;
    height: 180px;
  }
  .project_section div img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 1050px) {
  .project_cetagory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project_cetagory button {
    margin: 0px 12px;
    padding: 6px 25px;
    border-radius: 50px;
    background-color: #4e4aff;
    color: white;
    font-family: "Fredoka One", cursive;
    cursor: pointer;
  }
  .project_section {
    width: 750px;
    margin: 70px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project_section div {
    width: 300px;
    height: 180px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
  }
  .project_section div img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 750px) {
  .work_heading {
    margin: 100px 0 60px;
    text-align: center;
    color: white;
  }
  .project_cetagory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project_cetagory button {
    margin: 8px;
    padding: 6px 25px;
    border-radius: 50px;
    background-color: #4e4aff;
    color: white;
    font-family: "Fredoka One", cursive;
    cursor: pointer;
  }
  .project_section {
    width: 500px;
    margin: 70px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project_section div {
    width: 230px;
    height: 125px;
    margin: 8px;
  }
  .project_section div img {
    width: 230px;
    height: 145px;
  }
  .detaile {
    width: 500px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: #2c2c2c;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .detaile h2 {
    margin-bottom: 40px;
  }
  .detaile .fa-times-circle {
    font-size: 1.6rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .detaile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
  }
  .detaile ul li {
    list-style: none;
    margin: 10px 10px;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .detaile ul li span {
    margin: 0px 5px 0px 10px;
    font-weight: bold;
  }
  .detaile ul li i {
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .detaile div {
    width: 95%;
  }
  .detaile div img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}

@media screen and (max-width: 500px) {
  .work_heading {
    margin: 60px 0 40px;
    text-align: center;
    color: white;
  }
  .project_cetagory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project_cetagory button {
    margin: 8px;
    padding: 6px 25px;
    border-radius: 50px;
    background-color: #4e4aff;
    color: white;
    font-family: "Fredoka One", cursive;
    cursor: pointer;
  }
  .project_section {
    width: 100%;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project_section div {
    width: 90%;
    height: 180px;
  }
  .project_section div img {
    width: 100%;
    height: 180px;
  }
  .detaile {
    width: 95%;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    background-color: #2c2c2c;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .detaile h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .detaile .fa-times-circle {
    font-size: 1.5rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .detaile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .detaile ul li {
    list-style: none;
    margin: 15px 10px;
    letter-spacing: 1px;
    font-size: 14px;
  }
  .detaile ul li span {
    margin: 0px 5px 0px 6px;
    font-weight: bold;
  }
  .detaile ul li i {
    font-size: 1rem;
    font-weight: lighter;
  }
  .detaile div {
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }
  .detaile div img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=projects.css.map */